<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="chat-header">
      <div class="left-block">
        <ion-button fill="clear" class="back-btn" (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>

        <div class="avatar">
          {{ getInitial(contact?.name || contact?.job_title) }}
        </div>

        <div class="header-info">
          <h3>{{ contact?.other_user_name || contact?.name || 'Utilisateur' }}</h3>

<p>
  {{ contact?.other_user_role || contact?.role || 'Utilisateur' }}
  <span *ngIf="contact?.job_title"> · Projet : {{ contact.job_title }}</span>
</p>
          <span *ngIf="contact?.createdAt">
            Conversation lancée le {{ getStartedAt() }}
          </span>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-body">

    <div *ngIf="messages.length > 0; else emptyBlock">
      <div *ngFor="let msg of messages; let i = index">

        <div class="date-separator" *ngIf="shouldShowDateSeparator(i)">
          <span>{{ formatDate(msg.createdAt) }}</span>
        </div>

        <div class="message-row" [class.mine]="isMine(msg)">
          <div class="message-bubble">
            <p>{{ msg.text }}</p>
            <span class="message-time">{{ formatTime(msg.createdAt) }}</span>
          </div>
        </div>

      </div>
    </div>

    <ng-template #emptyBlock>
      <div class="empty-chat">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <p class="empty-title">Aucun message pour l’instant</p>
        <p class="empty-text">
          Cette conversation a été lancée
          <span *ngIf="contact?.createdAt">le {{ getStartedAt() }}</span>.
          Vous pouvez commencer à discuter maintenant.
        </p>
      </div>
    </ng-template>

  </div>
</ion-content>

<div class="chat-input-bar">
  <div class="input-wrap">
    <input
      type="text"
      placeholder="Écrire un message..."
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    />
  </div>

  <ion-button class="send-btn" (click)="sendMessage()">
    <ion-icon name="paper-plane-outline"></ion-icon>
  </ion-button>
</div>