<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Professional Role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h2>Got it. Now, add a title to tell the world what you do</h2>
    <p>
      It's the very final first thing clients see, so make it count. 
      Stand out by describing your expertise in your own words.
    </p>

    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
    <div class="role-selection-container ion-margin-top">
      <ion-label class="input-label">Your professional role</ion-label>
      
      <ion-item lines="outline" class="custom-input-item">
        <ion-select placeholder="Select your role" formControlName="role" interface="popover" justify="space-between">
          <ion-select-option value="fullstack">Full stack web developer</ion-select-option>
          <ion-select-option value="frontend">Front-end Developer</ion-select-option>
          <ion-select-option value="backend">Back-end Developer</ion-select-option>
          <ion-select-option value="uiux">UI/UX Designer</ion-select-option>
          <ion-select-option value="mobile">Mobile App Developer</ion-select-option>
          <ion-select-option value="data">Data Scientist</ion-select-option>
        </ion-select>
        </ion-item>
    </div>

    <div class="navigation-footer">
      <ion-button fill="clear" class="back-circle-button">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-button expand="block" type="submit" shape="round" class="add-experience-button">
        Add experience
      </ion-button>
    </div>
     </form>
  </div>
 
</ion-content>