<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signup-experience"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Your Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <p>If you have relevant experiences, share it here</p>

  <ion-button shape="round" (click)="openAddExperience()">
    + Add experience
  </ion-button>

  <ion-list *ngIf="experiences.length">

    <ion-item *ngFor="let exp of experiences">
      <ion-label>
        <h3>{{ exp.title }}</h3>
        <p>{{ exp.company }} — {{ exp.country }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <div class="btn-row">
    <ion-button
      expand="block"
      fill="outline"
      color="primary"
      class="next-btn"
    >
      Skip
    </ion-button>

    <ion-button
      expand="block"
      color="primary"
      class="next-btn"
      routerLink="/signup-education"
    >
      Add Education
    </ion-button>
  </div>
</ion-content>
