<ion-content [fullscreen]="true" class="onboarding-content">
  <div class="background-overlay"></div>

  <div class="content-container">
    <div class="text-section">
      <h1>One app, all of Upwork</h1>
      <p>Choose an option to get started. You can add another account at any time.</p>
    </div>

    <div class="button-group">
      <ion-button fill="outline" shape="round" class="btn-client">
        I'm a client
      </ion-button>
      <ion-button fill="outline" shape="round" class="btn-freelancer" (click)="freelancer()">
        I'm a freelancer
      </ion-button>
    </div>

    <div class="login-section">
      <p>Already have an account? <a (click)="login()">Log in</a></p>
    </div>
  </div>
</ion-content>